cleantext==1.1.4
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
funcy==2.0
gensim==4.3.2
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
nltk==3.8.1
numexpr==2.10.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pyLDAvis==3.4.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.10
scikit-learn==1.4.2
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
smart-open==7.0.4
threadpoolctl==3.5.0
tqdm==4.66.4
tzdata==2024.1
wrapt==1.16.0